<!DOCTYPE html>
<html xlmns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Learning Spring Boot: Springlr</title>
	<link rel="stylesheet" href="/main.css"/>
</head>
<body>
	<h1>Springlr</h1>
	<h3>With LiveReload! WOOSH!</h3>
	
	<input id="username" type="text"/>
	<button id="connect">Connect</button>
	<button id="disconnect" style="display: none">Disconnect</button>
	
	<div>
		<table>
			<thead>
				<tr>
					<th>Id</th> <th>Name</th> <th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="image : ${images}">
					<td th:text="${image.id}" />
					<td th:text="${image.name}" />
					<td>
						<a th:href="@{'/images/' + ${image.name} + '/raw'}">
							<img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail" />
						</a>
					</td>
					<td>
						<form th:method="delete" th:action="@{'/images/' + ${image.name}}">
							<input type="submit" value="Delete" />
						</form>
					</td>
					<td>
						<ul th:id="'comments-' + ${image.id}">
						    <li th:each="comment : ${image.comments}" th:text="${comment.comment}"></li>
						</ul>
					</td>
					<td>
						<input th:id="'comment-' + ${image.id}" type="text" value=""/>
						<button th:id="${image.id}" class="comment">Submit</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<form method="post" enctype="multipart/form-data" action="/images">
			<p><input type="file" name="file" /></p>
			<p><input type="submit" name="Upload" /></p>
		</form>
		
		<div id="chatBox" style="display: none">
	       Greetings!
	       <br/>
	       <textarea id="chatDisplay" rows="10" cols="80" disabled="true"></textarea>
	       <br/>
	       <input id="chatInput" type="text" style="width: 500px" value="" />
	       <br/>
	       <button id="chatButton">Send</button>
	       <br/>
        </div>
	</div>
	
	
	
	<script th:inline="javascript">
	   /*<![CDATA[*/
	   (function() {
		   //Register handler to each button to make an AJAX call
		   document.querySelectorAll('button.comment').forEach(function(button) {
			   button.addEventListener('click', function() {
				   var comment = document.getElementById('comment-' + button.id);
				   console.log('Sending comment: ' + comment.value);
				   
				   var xhr = new XMLHttpRequest();
				   xhr.open('POST', /*[[@{'/comments'}]]*/'', true); //Thymeleaf handles the comments URL
				   
				   var formData = new FormData();
				   formData.append('comment', comment.value);
				   formData.append('imageId', button.id);
				   
				   xhr.send(formData);
				   
				   comment.value = '';
			   });
		   });
		   
		   var newComments = null;
		   var outboundChatMessages = null;
		   var inboundChatMessages = null;
		   
		   document.getElementById('connect')
		   .addEventListener('click', function() {
			   document.getElementById('connect').style.display = 'none';
			   document.getElementById('disconnect').style.display = 'inline';
			   
			   var usernameInput = document.getElementById('username');
			   
			   document.getElementById('chatBox').style.display = 'inline';
			   
			   newComments = new WebSocket('ws://localhost:8200/topic/comments.new?user=' + usernameInput.value);
	           newComments.onopen = function(event) {
	               console.log('Connected to chat service!');
	               console.log(event);
	           }
	           newComments.onmessage = function(event) {
	               console.log('Received ' + event.data + '!');
	               var parsedMessage = JSON.parse(event.data);
	               var ul = document.getElementById(
	                       'comments-' + parsedMessage.imageId);
	               var li = document.createElement('li');
	               li.appendChild(
	                       document.createTextNode(parsedMessage.comment));
	               ul.appendChild(li);
	           }
	           
	           outboundChatMessages = new WebSocket('ws://localhost:8200/app/chatMessage.new?user=' + usernameInput.value);
	           //Post new chat messages
	           outboundChatMessages.onopen = function(event) {
	               document.getElementById('chatButton')
	                   .addEventListener('click', function() {
	                       var chatInput = document.getElementById('chatInput');
	                       console.log('Publishing "' + chatInput.value + '"');
	                       outboundChatMessages.send(chatInput.value);
	                       chatInput.value = '';
	                       chatInput.focus();
	                   });
	           }
	           
	           inboundChatMessages = new WebSocket('ws://localhost:8200/topic/chatMessage.new?user=' + usernameInput.value);
	           //Listen for new chat messages
	           inboundChatMessages.onmessage = function(event) {
	               console.log('Received ' + event.data);
	               var chatDisplay = document.getElementById('chatDisplay');
	               chatDisplay.value = chatDisplay.value + event.data + '\n';
	           }
		   });
		   
		   document.getElementById('disconnect')
		   .addEventListener('click', function() {
			  document.getElementById('connect').style.display = 'inline';
			  document.getElementById('disconnect').style.display = 'none';
			  document.getElementById('chatBox').style.display = 'none';
			  
			  if (newComments != null) {
				  newComments.close();
			  }
			  
			  if (outboundChatMessages != null) {
				  outboundChatMessages.close();
              }
			  
			  if (inboundChatMessages != null) {
				  inboundChatMessages.close();
              }
		   });
		   
	   })();
	   /*]]>*/
	</script>
</body>
</html>